body {
	margin: 8px auto;
	font-family: cursive;
	background-color: beige;
}

#main {
	width: 900px;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

#header {
	width: 425px;
}

#game {
	width: 400px;
	height: 500px;
	border: 1px solid navy;
	margin: 50px 0;
	overflow: hidden;
	background-image: url(/Deannasaur/assets/images/london.webp);
	background-size: cover;
	background-position: 400px;
}

#pipe {
	width: 50px;
	height: 500px;
	background-color: red;
	position: relative;
	left: 400px;
	background-image: url(/Deannasaur/assets/images/road.jpg);
	background-size: contain;
}

#hole {
	width: 50px;
	height: 200px;
	background-image: url(/Deannasaur/assets/images/zebra-crossing.jpg);
	background-size: contain;
	position: relative;
	left: 400px;
	top: -400px;
}

@keyframes move {
	0% {
		left: 400px;
	}
	100% {
		left: -50px;
	}
}

#don {
	width: 75px;
	height: 75px;
	background-image: url(/Deannasaur/assets/images/flappy-don.jpg);
	background-size: contain;
	position: absolute;
	top: 100px;
	margin-left: 10px;
	border-radius: 50%;
}

#q-and-a {
	display: none;
}
