html {
	font-size: 62.5%;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	font-size: 1.6rem;
}

.grid-container {
	display: grid;
	grid-template-areas: "header" "main";
	grid-template-columns: 1fr;
	grid-template-rows: 8rem 1fr;
	height: 100vh;
}

.blue {
	color: rgb(0, 60, 138);
}

.underline {
	text-decoration: underline;
}

#header {
	width: 100%;
	display: flex;
	font-size: 2rem;
	border-bottom: 0.1px rgb(180, 180, 180) solid;
	background-color: white;
	z-index: 100;
	position: fixed;
	top: 0;
}

#logo {
	height: 7.75rem;
}

#main {
	grid-area: main;
	background-color: rgb(240, 240, 240);
	margin: 0 auto;
	width: 100%;
	max-width: 1080px;
}

#main div {
	padding: 15px;
}

#cv {
	background-color: rgb(180, 255, 109);
}

.scroll-below-header {
	scroll-margin-top: 8rem;
	border-bottom: 0.1px solid gray;
}

.intro {
	font-size: 20px;
}

article {
	margin-bottom: 30px;
}

article h3 {
	margin-top: 0;
	margin-bottom: 10px;
}

article p {
	margin: 0;
}

#contact-links li {
	font-size: 20px;
	margin: 5px;
}
