html,
body {
	margin: 0;
	font-family: "Segoe UI", sans-serif;
	height: 100%;
}

/* Background */

.bg {
	position: absolute;
	width: 100%;
	height: 55vh;
	background: cornflowerblue;
}

/* About */

.info {
	z-index: 1;
	position: relative;
	top: calc(55vh - 300px);
	left: calc(50vw - 150px);
	height: 500px;
	width: 300px;
	border-radius: 25px;
	box-shadow: 0px 4px 4px 0 slategrey;
	overflow: hidden;
	background: #fff;
}

.image {
	height: 300px;
	width: 300px;
	background-image: url("./favicon.png");
	background-size: 300px 300px;
}

.info .content {
	width: 240px;
	z-index: 1;
	display: inline-block;
	padding: 0 10%;
	text-align: center;
	color: #444;
}

.info .content h3 {
	margin: 10px 0;
}

.intro {
	font-size: 12px;
	margin-bottom: 5px;
}

p {
	margin-top: -15px;
}

/* Links */

a {
	font-weight: bold;
}

a:hover {
	color: tomato;
	cursor: pointer;
}

.info .content .logos .icons {
	color: #333;
	text-align: center;
	font-size: 22px;
	width: 16.6666666667%;
	margin-top: 10px;
}

.info .content .logos .icons:hover {
	color: tomato;
	cursor: pointer;
}

/* Squares */
.square-spawn {
	position: absolute;
	top: 0px;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.square {
	overflow: hidden;
	position: absolute;
	pointer-events: none;
	background: #fff;
	animation: animate 5s linear infinite;
}

@keyframes animate {
	0% {
		transform: scale(0) translateY(0) rotate(0deg);
		opacity: 0;
	}
	10% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		transform: scale(1) translateY(-500%) rotate(360deg);
		opacity: 0;
	}
}
