body {
	background-image: url(/Deannasaur/assets/images/morning-sky.jpg);
	background-size: cover;
}

#wrapper {
	display: flex;
	justify-content: flex-end;
}

#main {
	width: 550px;
	font-family: cursive;
	color: beige;
}
