body {
	font-family: cursive;
	display: flex;
	width: 900px;
	justify-content: space-between;
	margin: auto;
	background-image: url(/Deannasaur/assets/images/light-gradient.jpg);
	background-size: cover;
}

#header {
	width: 450px;
}

#q-and-a {
	display: none;
}

.square {
	width: 100px;
	height: 100px;
	border-style: solid;
	background-color: white;
}

.grid {
	margin: 30px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
	width: 490px;
	height: 425px;
}

.don {
	background-image: url(/Deannasaur/assets/images/don.jpg);
	background-size: cover;
}

.bonk {
	background-image: url(/Deannasaur/assets/images/don_bonk.png);
	background-size: cover;
}
