body {
	background-color: beige;
	font-family: cursive;
	width: 1000px;
	margin: auto;
}

.game {
	width: 960px;
	height: 360px;
	background-image: url(/Deannasaur/assets/images/background.jpg);
	background-size: contain;
	border: 1px solid black;
}

.don {
	width: 100px;
	height: 100px;
	background-image: url(/Deannasaur/assets/images/don-bb.jpg);
	background-size: cover;
	position: relative;
	top: 260px;
	left: 25px;
	border-radius: 20%;
}

.bean {
	width: 75px;
	height: 75px;
	background-image: url(/Deannasaur/assets/images/broad-bean.png);
	background-size: cover;
	position: relative;
	top: 185px;
	left: 850px;
}

#q-and-a {
	display: none;
	margin-top: 25px;
}

.move {
	animation: move 1250ms infinite linear;
}

@keyframes move {
	0% {
		left: 850px;
	}
	100% {
		left: -25px;
	}
}
